{% load cms_articles thumbnail %}
<div class="article_preview" style="clear: both">
    <h2>
        <a href="{{ article.get_absolute_url }}">{{ article.get_menu_title }}</a>
    </h2>
    {% with image=article.get_image %}
        {% if image %}
        <a href="{% thumbnail image 1500x1500 %}" data-toggle="lightbox" data-title="{{ image.name }}">
            <img alt="{{ image.name }}" src="{% thumbnail image 200x200 %}" style="float: left; margin: 15px 30px 15px 0;" />
        </a>
        {% endif %}
    {% endwith %}
    {{ article.get_description | safe }}
    <p style="float: right; margin-top: -15px"><a href="{{ article.get_absolute_url }}">celý článek</a></p>
</div>
